body {
    font-family: Chivo;
    background-color: #F8F8F8;
}
h1,h2,h3,h4{
    margin:0;
    padding:0;
}
.navbar-default {
    background-color: white;
    border-color: #e7e7e7;
}

.box-home {
    background: lightblue;
    height: 200px;



}
.box-home .content{
    width:100%;
    height: 100%;
    padding: 5%;
    float:left;
}
.box-home .content .box-action {
    background: none repeat scroll 0 0 lightblue;
    float: left;
    height: 125px;
    width: 100%;
}
.box-home .content h2 {
    background: none repeat scroll 0 0 white;
    float: left;
    text-align: center;
    width: 100%;
}
.article{
    float:left;
    width:100%;
}
.main-article{
    height: 350px;
}
.main-article .content{
    background-size: 100% 350px;
    background-repeat: no-repeat;
    height:350px;
    padding:10px;
}
.category a{
    text-decoration: none;
}
.divisore{
    height:1px;
    background:white;
    width:100%;
    float:left;
    margin-top:5px;
    margin-bottom: 5px;
}
.category a span{
    color:white;
    background: darkcyan;
    padding:7px;
}
.content-title{
    margin-top:200px;
    background: lightblue;
    padding:5px;
}
.title{
    float:left;
    margin-top:15px;
    margin-bottom: 15px;
    width:100%;

}
.category{
    float:left;
    width:100%;
}

.latest-news{
    padding:10px;
    border:1px solid grey;
    float:left;
    width:100%;
}
.latest-news .content{
float:left;
    width:80%;
}
.latest-news .arrow{
    float:left;
    width:20%;
}


